@media screen and (width: 320px) {
  .help-resizing-profileBackground{
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .emp-profile{
   padding: 10px;
  }
  .profile-head{
   text-align: center;
  }
  .profile-edit-btn{
    margin-left: 45px;
  }
  #myTab{
   display: none;
  }
  #home{
   text-align: center;
   margin-top: 10px;
  }
 .tab-pane label{
    margin-left: 0px;
  }
}
@media screen and (width: 375px) {
  .help-resizing-profileBackground{
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .emp-profile{
   padding: 10px;
  }
  .profile-head{
   text-align: center;
  }
  .profile-edit-btn{
    margin-left: 45px;
  }
  #myTab{
   display: none;
  }
  #home{
   text-align: center;
   margin-top: 10px;
  }
 .tab-pane label{
    margin-left: 0px;
  }
}
@media screen and (width: 425px) {
  .help-resizing-profileBackground{
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .emp-profile{
   padding: 10px;
  }
  .profile-head{
   text-align: center;
  }
  .profile-edit-btn{
    margin-left: 45px;
  }
  #myTab{
   display: none;
  }
  #home{
   text-align: center;
   margin-top: 10px;
  }
 .tab-pane label{
    margin-left: 0px;
  }
}
@media screen and (width: 768px) {
  .help-resizing-profileBackground{
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .emp-profile{
    padding: 20px;
  }
  .profile-edit-btn{
    width: 100%;
    margin-left: -20px;
  }
}
@media screen and (width: 1024px) {
  .help-resizing-profileBackground{
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .emp-profile{
    padding: 20px;
  }
  .profile-edit-btn{
    width: 100%;
    margin-left: -20px;
  }
}