*{
  margin: 0px;
  padding: 0px;
}
.title-plus-location{
  width: 80%;

  .main-location{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    .ico-location{
      background-image: url("../../assets/images/location.png");
      background-repeat: none;
      background-size: contain;
      background-repeat: no-repeat;
      width: 35px;
      height: 35px;
    }
  }
}
.carousel-box{
  height: 546px;
  overflow: hidden;
  padding: 0;
}
.top-pricing{
  margin: 0;
  padding: 0;
  width: 20%;

  .total-price{
    text-align: right;
  }
}
.main-content-cards-item-profile .main-card-list{
  display: flex;
  justify-content: center;
}