@media screen and (width: 320px) {
  .help-recize-background{
    height: auto;
  }
  .box-dark-login {
    width: 310px;
    height: 330px;
    margin-top: 100px;
  }
  .login-form{
    padding: 20px;
  }
}



@media screen and (width: 375px) {
  .help-recize-background{
    height: auto;
  }
  .box-dark-login {
    width: 310px;
    height: 310px;
    margin-top: 150px;
  }
  .login-form{
    padding: 20px;
  }
}


@media screen and (width: 425px) {
  .help-recize-background{
    height: auto;
  }
  .box-dark-login {
    width: 310px;
    height: 310px;
    margin-top: 150px;
  }
  .login-form{
    padding: 20px;
  }
}


@media screen and (width: 768px) {
  .help-recize-background{
    height: auto;
  }
  .box-dark-login {
    width: 310px;
    height: 310px;
    margin-top: 150px;
  }
  .login-form{
    padding: 20px;
  }
}


@media screen and (width: 1024px) {
  .help-recize-background{
    height: auto;
  }
  .box-dark-login {
    width: 310px;
    height: 310px;
    margin-top: 150px;
  }
  .login-form{
    padding: 20px;
  }
}


@media screen and (width: 1440px) {
  .help-recize-background{
    height: auto;
  }
  .box-dark-login {
    width: 310px;
    height: 310px;
    margin-top: 150px;
  }
  .login-form{
    padding: 20px;
  }
}

@media screen and (width: 2560px) {
  .help-recize-background{
    height: 580px;
  }
  .box-dark-login {
    width: 410px;
    height: 310px;
    margin-top: 150px;
  }
  .login-form{
    padding: 20px;
  }
}