.homepage .main-card-list{
  display: flex;
  justify-content: center;
  align-items: left;   
  flex-wrap: wrap;
}
.home-cards{
  display: flex;
  justify-content: center;
  align-items: left !important;
  flex-wrap: wrap !important;
}
.home-cards .main-card-list{
  width: 1400px !important;
  margin-left: -200px !important;
}
.home-cards .card{
  margin-top: 20px;
}
.home-cards .card:hover{
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px black;
}
