

.jumbotron {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url(../../assets/images/homepage-jumbotron-3.jpg);
  background-size: cover;
  background-position: left;
  // above is the part added for the curved line
  width:100%;
  height:40%;
  // position:absolute;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.bg-cover {
  // height: 75vh;
  height: 50rem;
}

.jumbotron-content {
  color: $color-1;

}

.search-container {
  background-color: white;
  border-radius: 30px;
  width: 50%;
  opacity: 0.7;
}

.search-input {
  border: none;
  width: 150%;
}

input:focus{
  outline: none;
}