@media screen and (width: 320px){
  .top-content-location-price-responsive{
    display: block;
  }
  .title-plus-location {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .title-responsive{
    margin: 0;
    padding: 0;
  }
  .main-location {
    display: flex;
    justify-content: center;
  }
  .main-location p{
    width: 80%;
  }
  .ico-location{
    display: none;
  }
  .top-pricing{
    width: 100%;
  }
  .total-price{
    text-align: center;
  }
  .price-m2{
    text-align: center;
  }
  .properties{
    display: block;
  }
  .content-carousel-contact-responsive{
    display: block !important;
  }
  .carousel-box{
    width: 100%;
  }
  .contact-box{
    width: 100%;
    margin-top: 30px;
  }
  .carousel-box{
    height: auto;
  }
  .sr-only{
    display: none;
  }
  .list-mini-images{
    width: 90%;
    position: absolute;
    margin-top: -570px;
  }
  .list-mini-images ul li {
    width: 150px;
    height: 40px;
  }
  .prop-2,
  .prop-3 {
    margin-left: 0px;
  }
  .title-properties-responsive{
    text-align: center;
    margin-top: 15px;
  }
  .properties-responsive{
    text-align: center;
  }
  .section-responsive{
    text-align: center;
  }
  .responsive-list-cards{
    display: flex;
    justify-content: center;
  }
  .list-more-Aps{
    display: block;
    margin-left: -35px;
  }
  .list-more-Aps li{
    margin-top: 10px;
  }
}
/*###################################*/
/*###############375px###############*/
/*###################################*/
@media screen and (width: 375px){
  .top-content-location-price-responsive{
    display: block;
  }
  .title-plus-location {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .title-responsive{
    margin: 0;
    padding: 0;
  }
  .main-location {
    display: flex;
    justify-content: center;
  }
  .main-location p{
    width: 80%;
  }
  .ico-location{
    display: none;
  }
  .top-pricing{
    width: 100%;
  }
  .total-price{
    text-align: center;
  }
  .price-m2{
    text-align: center;
  }
  .properties{
    display: block;
  }
  .content-carousel-contact-responsive{
    display: block !important;
  }
  .carousel-box{
    width: 100%;
  }
  .contact-box{
    width: 100%;
    margin-top: 30px;
  }
  .carousel-box{
    height: auto;
  }
  .sr-only{
    display: none;
  }
  .list-mini-images{
    width: 90%;
    position: absolute;
    margin-top: -570px;
  }
  .list-mini-images ul li {
    width: 150px;
    height: 40px;
  }
  .prop-2,
  .prop-3 {
    margin-left: 0px;
  }
  .title-properties-responsive{
    text-align: center;
    margin-top: 15px;
  }
  .properties-responsive{
    text-align: center;
  }
  .section-responsive{
    text-align: center;
  }
  .responsive-list-cards{
    display: flex;
    justify-content: center;
  }
  .list-more-Aps{
    display: block;
    margin-left: -35px;
  }
  .list-more-Aps li{
    margin-top: 10px;
  }
}
/*###################################*/
/*###############425px###############*/
/*###################################*/
@media screen and (width: 425px){
  .top-content-location-price-responsive{
    display: block;
  }
  .title-plus-location {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .title-responsive{
    margin: 0;
    padding: 0;
  }
  .main-location {
    display: flex;
    justify-content: center;
  }
  .main-location p{
    width: 80%;
  }
  .ico-location{
    display: none;
  }
  .top-pricing{
    width: 100%;
  }
  .total-price{
    text-align: center;
  }
  .price-m2{
    text-align: center;
  }
  .properties{
    display: block;
  }
  .content-carousel-contact-responsive{
    display: block !important;
  }
  .carousel-box{
    width: 100%;
  }
  .contact-box{
    width: 100%;
    margin-top: 30px;
  }
  .carousel-box{
    height: auto;
  }
  .sr-only{
    display: none;
  }
  .list-mini-images{
    width: 90%;
    position: absolute;
    margin-top: -570px;
  }
  .list-mini-images ul li {
    width: 150px;
    height: 40px;
  }
  .prop-2,
  .prop-3 {
    margin-left: 0px;
  }
  .title-properties-responsive{
    text-align: center;
    margin-top: 15px;
  }
  .properties-responsive{
    text-align: center;
  }
  .section-responsive{
    text-align: center;
  }
  .responsive-list-cards{
    display: flex;
    justify-content: center;
  }
  .list-more-Aps{
    display: block;
    margin-left: -35px;
  }
  .list-more-Aps li{
    margin-top: 10px;
  }
}
/*###################################*/
/*###############425px###############*/
/*###################################*/
@media screen and (width: 768px){
  .top-content-location-price-responsive{
    display: block;
  }
  .title-plus-location {
    width: 100%;
    position: absolute;
    margin-top: 8px !important;
  }
  .top-pricing{
    width: 100%;
  }
  .properties{
    display: block;
  }
  .content-carousel-contact-responsive{
    display: block !important;
  }
  .carousel-box{
    width: 100%;
  }
  .contact-box{
    width: 100%;
    margin-top: 90px;
  }
  .carousel-box{
    height: auto;
  }
  .sr-only{
    display: none;
  }
  .list-mini-images{
    width: 90%;
    position: absolute;
    margin-top: -635px;
  }
  .list-mini-images ul li {
    width: 149px;
    height: 90px;
    margin-left: 4px;
  }
  .prop-2,
  .prop-3 {
    margin-left: 0px;
  }
  .title-properties-responsive{
    text-align: center;
    margin-top: 15px;
  }
  .properties-responsive{
    text-align: center;
  }
  .section-responsive{
    text-align: center;
  }
  .responsive-list-cards{
    display: flex;
    justify-content: center;
  }
  .list-more-Aps{
    display: block;
    margin-left: -35px;
  }
  .list-more-Aps li{
    margin-top: 10px;
  }
  .form-group{
    width: 100%
  }
}
/*###################################*/
/*###############1024px###############*/
/*###################################*/
@media screen and (width: 1024px){
  .top-content-location-price-responsive{
    display: block;
  }
  .title-plus-location {
    width: 100%;
    position: absolute;
  }
  .top-pricing{
    width: 100%;
  }
  .properties{
    display: block;
  }
  .content-carousel-contact-responsive{
    display: block !important;
  }
  .carousel-box{
    width: 100%;
  }
  .contact-box{
    width: 100%;
    margin-top: 110px;
  }
  .carousel-box{
    height: auto;
  }
  .sr-only{
    display: none;
  }
  .list-mini-images{
    width: 90%;
    position: absolute;
    margin-top: -650px;
  }
  .list-mini-images ul li {
    width: 149px;
    height: 100px;
    margin-left: 30px;
  }
  .prop-2,
  .prop-3 {
    margin-left: 0px;
  }
  .title-properties-responsive{
    text-align: center;
    margin-top: 15px;
  }
  .properties-responsive{
    text-align: center;
  }
  .section-responsive{
    text-align: center;
  }
  .responsive-list-cards{
    display: flex;
    justify-content: center;
  }
  .list-more-Aps{
    display: flex;
    margin-left: -35px;
  }
  .list-more-Aps li{
    margin-top: 10px;
    width: 200px;
    margin-right: 20px;
  }
  .card {
    width: 201px!important;
  }
  .card-img-top{
    width: 200px;
  }
  .card-body{
    width: 200px;
  }
  .form-group{
    width: 100%
  }
  .list-more-Aps .card{
    width: 100px;
  }
}
